/* dev: localFont (PSD: font's..) ex> roboto
   cli: localFont 
   cdn: content delivery network ex> google font 
    고객이 폰트를 일일이 설치할 수 없으니 씨디엔에서 땡겨서 개발하기 이게 웹폰트다 
   thin - 100 (표기방식이 폰트 별 상이 할 수 있지만 거의 없음)
   extraLight- 200 (표기방식이 폰트 별 상이 할 수 있음 )
   light - 300
   regular - 400
   medium - 500
   semibold - 600
   bold - 700
   extrabold - 800
   black - 900
   */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');

/* 한글폰트는 다 알파벳 포함 만약 영어일때만 폰트를 다르게(roboto)사용하고 싶다면 roboto, Noto Sans 이런식으로 쓰기 */
body{
    font-family: 'Noto Sans KR', sans-serif;
}
/* line-height는 줄간(줄이 바뀌었을때 줄과 줄 사이의 간격)대체적으로 모든 폰트들은 (본문) 30픽셀까지는 폰트사이즈 + 6픽셀이 이상적임
    왜 30픽셀까지냐? 그 이상을 넘어가면 본문이 아니라 제목느낌 */
/* rgba() a는 alpha채널 = 투명도 필요할때 사용*/
h1{
    font-size: 20px; line-height: 26px; color: rgba(3, 9, 36, 0.5);
}
/* 해외에서는 거의 rgb로 사용 */
h2{
    font-size: 15px; line-height: 21px; color: rgb(250, 234, 214)
}
/* 16진법 Hex코드 우리나라는 익숙 ff=가장 높음
    무채색(흰회검)은 명도만 존재하는 것 rgb코드가 같아야함 #eaeaea*/
h3{
    font-size: 13px; line-height: 19px; color: #8a2be2;
}
/* line-height는 p태그에서 크게 작용 */
p{
    font-size: 14px; line-height: 20px; font-weight: 700;
}
p.letter{
    /* 자간 */
    letter-spacing: -1px;
}
p.word{
    /* 단간 */
    word-spacing: 10px;
}
p[class^='w_']{
    border: 3px solid black;
}
/* white-space:normal 공간을 벗어날 때 줄바꿈 자동으로 */
p.w_normal{
    width: 150px; white-space: normal; line-height: 21px;
}
/* text-overflow: ellipsis(생략하다); 점점점 말줄임표 /  overflow: hidden; 박스크기 넘으면 숨긴다
    no+wrap 감싸지 않음 */
p.w_nowrap{
    width: 150px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
}
/* ? 수직정렬은 디스플레이가 block인건 안됨 블럭은 위에서 아래로 떨어지니까 할 것도 없음 span은 인라인 img는 인라인 블럭 */
/* vertical-align은 상중하(T,m,b)일 경우 큰 놈한테만 정렬을 줘도 됨 그 외 어정쩡한 위치면 작은 놈한테도 정렬을 줘야함 */
.v_alignTest img{
    width: 200px; vertical-align: middle;
}
/* 100% 글자면 자기 높이(폰트사이즈)만큼 위로 올라감 음수면 아래로 200%이면 두 배만큼 
    브라우저의 디폴트 폰트사이즈는 16px h1은 32px */
.v_alignTest span{
    vertical-align: 100%;
}
/* font-size가 line-height보다 클 때 글자가 겹칠 수 있음 들여쓰기인데 보통 밀어넣는 건 padding-left:px 을 사용함*/
p.t_indent{
    text-indent: 20px; font-size: 24px; line-height: 30px;
}
/* 눈이 안보이는 사람은 텍스트가 있어야 버튼인 걸 알 수 있으니 텍스트를 넣어야함
    하지만 눈이 보이는 사람한테는 이미지가 잘 보이려면 텍스트를 안보이게 할 필요가 있음
    텍스트를 없애기는 그렇지만 숨겨야할때 text-indent 사용
    음수는 안보이는 비가시영역 9999는 css의 최대 속성 수 -는 왼쪽으로 미는 것*/
button.test{
    background: url('https://via.placeholder.com/150x50?text=blahblah button');
    border: none; width: 150px; line-height: 50px; text-indent: -9999px;
    /*  폰트사이즈는 없어도 됨 ??겹치게 하려고 넣은 것 */
    font-size: 12px;
}
a{
    display: block;
}
/* none은 극도의 부정 그리는거 조차 하지 않는다 none이 들어갔을 때 다시 돌려놓는 속성을 알아야함 text-decoration : none <-> underline
    text-transform은 대소문자(lower 소 upper 대) capitalize는 단어 앞 글자 대문자  */
a.t_deco_N{text-decoration: none; text-transform: none; color:#090;}
a.t_deco_U{text-decoration: underline; text-transform:lowercase; color: #0cf;}
a.t_deco_O{text-decoration: overline; text-transform: capitalize; color:96c;}
a.t_deco_T{text-decoration: line-through; text-transform: uppercase; color:#f63;}

/* 출력순서 바꾸는 것 rtl은 오른쪽부터 tset 순서로 ltr왼쪽붙이기 rtl오른쪽붙이기 */
p.DR_ltr{
    direction: ltr;
    /* 위의 것 대신 우리가 많이 씀 text-align은 부모가 자손한테 주는 것
       인라인이나 인라인블럭일때 부모한테?가? align 주면 자손이 움직임 
       input:button email text img 다 인라인블럭 */
    text-align: left;
}
p.DR_rtl{
    direction: rtl;
    text-align: right;;
}
