/* *flex: 부모가 자손을 배치하는 방식 (ul한테 flex)
   *float: 자손들끼리 배치하는 방식 (ul li에다가 float 줌) */

.flexContainer{
    margin: 10px; padding: 15px; border-radius: 23px; background-color: #a4a4a4;
    display: flex;
}
.flexItem{
    margin: 10px; padding: 20px; color: white; text-align: center; border-radius: 27px;
    background-color: black;
 }
.flexContainer.direction{
    flex-direction: row-reverse
}