/* 무지개 스크롤바가 쓸데없이 길게 생기는 걸 막기 위해 */
html.body{
    height: 100%;
}
body{
    width: 90%; margin: 0 auto;
}
aside{
    height: 80%; float: left; padding-top: 14%;
} 
a{
    text-decoration: none;
}
p{
    font-size: 12px;
}
p strong{
    display: block;
}
/*  ? global.css */
aside:first-of-type{
    width: 50%;
}
aside:first-of-type footer{
    color: #6800ff;
}
/* ? leftaside Fin */

aside:last-of-type{
    margin-left: 5%; width: 45%;
}
aside:last-of-type ul{
    margin: 0; padding: 0;
}
/* overflow초과될때 감추기 text-overflow랑 차이 정리 */
/* 패딩에 하나 밑에 하나 두 번 나눠서 작동*/
aside:last-of-type ul li{
    display: block; text-align: right; padding: 10px 5%; overflow-y: hidden;
    transition-duration: 1s;
}
aside:last-of-type ul li:nth-child(1){background-color: #ff5f5f;}
aside:last-of-type ul li:nth-child(2){background-color: #ffaf6b;}
aside:last-of-type ul li:nth-child(3){background-color: #e7ed66;}
aside:last-of-type ul li:nth-child(4){background-color: #30b052;}
aside:last-of-type ul li:nth-child(5){background-color: #7c8aff;}
aside:last-of-type ul li:nth-child(6){background-color: #3a5fb7;}
aside:last-of-type ul li:nth-child(7){background-color: #6800ff;}
/* 움직임 한번 걸기 패딩 */
aside:last-of-type ul li:hover{
    padding: 5%; cursor: pointer;
}
/* 기본상태니까 0 높이는 호버됐을때 만들거임 p높이가 0이 됐으니 li가 주저앉음 */
aside:last-of-type ul li p{
    width: 80%; float: left; height: 0; opacity: 0; 
    transition-property: height,opacity;
    transition-duration: 2s,1s;
} 
aside:last-of-type ul li:hover p{
    height: 220px; opacity: 1;
}
aside:last-of-type ul li a{
    color: #fff; font-size: 12px;
}
aside:last-of-type ul li:hover a{
    color: #000;
}
aside:last-of-type ul li a::before{
    content: '+';
}
aside:last-of-type ul li:hover a:before{
    content: '>';
}

/* ! a태그 플롯없이 확인 */