/* body는 기본적으로 마진을 8픽셀씩 갖고 태어남 즉 x,y 각 16 차이 
    바디 안의 후손들이 폰트사이즈를 내려받음 css의 c속성
        근데 h1은 갖고 태어나는 속성 때문에 직접적으로 텍스트 크기를 지정해줘야함
        em은 자신과 가장 인접한 거리의 (위,부모) 폰트 사이즈를 근거로 */
body{
    margin: 0; font-size: 12px;
}
h1{
    color: #f03; font-size: 12px;
}
/* 너비가 줄어들면 높이도 자동으로 줄어듬
    태그를 부르면 모든 태그에 적용됨 그래서 우리나라는 클래스를 단순지정용으로 사용 */
img{
    width: 150px; border: 3px solid #3f3;
}
ul,ol,dl{
    color: #60f;
}
/* 띄어쓰기 ul안에 있는 li  */
ul li{
    font-size: 15px; font-weight: bold;
}
ol li{
    font-size: 20px; text-decoration: underline; color: red;
}
dl{
    font-size: 35px;
}
section ul li figure img{
    width: 50px;
}
section ul li figure figcaption dl dt{
    color: skyblue;
}
section ul li figure figcaption dl dd{
    font-size: 50px;
}